* {
    margin: 0;
    padding: 0;
}

:root {
    --lighter: #F6E3E9;
    --light: #E2C0CA;
    --normal: #D1859C;
    --dark: #A27A85;
    --mont: 'Montserrat', sans-serif;
    --alta: 'Alta', serif;
    --sorts: 'Sorts Mill Goudy', serif;
}

@font-face {
    font-family: 'Alta';
    src: url('fonts/Alta_light.woff2') format('woff2'),
        url('fonts/Alta_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alta';
    src: url('fonts/Alta_regular.woff2') format('woff2'),
        url('fonts/Alta_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--sorts)
}

.bg-0 {
    background-color: var(--lighter);
}

.bg-1 {
    background-color: var(--light);
}

.bg-2 {
    background-color: var(--normal);
}

.bg-3 {
    background-color: var(--dark);
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 0.75em;
    font-family: var(--mont);
}

nav ul li {
    text-align: center;
}

nav ul li a {
    color: black;
}

nav ul .index a::before {
    content: "ACCUEIL";
}

footer {
    margin-top: 25px;
    background-color: var(--light);
    font-family: var(--mont);
    font-size: 0.75em;
}

.landing {
    width: 100vw;
    height: 57vw;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.landing h1 {
    color: white;
    font-family: var(--mont);
    font-weight: 400;
}

.landing h1 span {
    font-family: var(--alta);
    font-size: 2em;
    font-weight: 300;
}

.presentation {
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.presentation h2 {
    font-family: var(--alta);
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.presentation .body img {
    width: 100%;
    margin: auto;
    border-bottom: 10px solid var(--normal)
}

.presentation .body p {
    text-align: justify;
    margin-top: 15px;
}

.prestations {
    margin: auto;
    margin-top: 25px;
    width: 90%;
}

.prestations .tabs>ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.prestations .tabs a {
    color: black;
    font-family: var(--mont);
}

.tabs .active {
    text-decoration: underline;
    text-decoration-color: var(--normal);
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.content {
    margin-top: 25px;
    display: none;
}

.content.active {
    display: block;
}

.content.active {
    display: flex;
    flex-direction: column;
}

.card {
    width: 80%;
    height: 450px;
    margin: 25px auto;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #F6E3E9;
    border-radius: 20px;
    position: relative;
}

.card h4 {
    font-family: 'Montserrat', sans-serif;
}

.card img {
    width: 200px;
    height: 200px;
    margin: 25px auto;
    object-fit: cover;
}

.card ul {
    text-align: left;
    width: 200px;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
    font-family: var(--sorts);
}

.card .price {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--mont);
    padding: 5px 20px;
}

.content p {
    margin-top: 25px;
    text-align: justify;
}

.content a {
    color: black;
    font-family: var(--mont);
    text-decoration: underline;
    text-align: center;
}

.title {
    text-align: center;
    font-family: var(--alta);
    font-weight: 300;
    padding: 15px 0;
    margin-bottom: 25px;
}

.pension {
    width: 90%;
    margin: auto;
}

.pension .img {
    width: 100%;
    aspect-ratio: 3 / 2;
    background-color: black;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 5px 5px;
    background-size: cover;
    background-position: center;
}

.pension .img .price {
    padding: 5px 15px;
    border-radius: 5px;
    font-family: var(--mont);
    font-weight: 700;
}

.pension .img.pre {
    background-image: url("img/pension_pre.jpg");
}

.pension .img.poulinage {
    background-image: url("img/pension_poulinage.jpg");
}

.pension .img.debourrage {
    background-image: url("img/pension_debourrage.jpg");
}

.pension .img.box {
    background-image: url("img/pension_box.jpg");
}


.pension .text {
    margin-top: 15px;
    margin-bottom: 25px;
}

.pension .text h2 {
    font-family: var(--mont)
}


.carousel .status .index {
    height: 10px;
    width: 15%;
    background-color: #DFDADC;
    margin: 2px;
}

.carousel .status .index.selected {
    background-color: var(--normal);
}

.stallion {
    display: none;
}

.stallion h2 {
    text-align: center;
    font-family: var(--sorts);
}

.stallion.active {
    display: block;
}

.installation {
    display: none;
}

.installation.active {
    display: block;
}

.installation>.image {
    display: flex;
}

.installation-background,
.stallion-background {
    width: 100%;
    aspect-ratio: 3/2;
    background-size: cover;
    background-position: center;
}

.installation-background {

    display: flex;
    align-items: end;
    justify-content: center;
}

.installation-background>h2 {
    width: 100%;
    text-align: center;
    background-color: rgba(162, 122, 133, 0.72);
    font-family: var(--alta);
    font-weight: 400;
    color: white;
    padding: 5px;
}

button {
    background: none;
    border: none;
    font-size: 25px;
    margin: 15px;
}

.status {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stallion-background {
    color: white;
    position: relative;
    font-family: var(--mont);
    display: flex;
    flex-direction: column;
    text-align: right;
}

.stallion-background>h2 {
    font-weight: 400;
}

.stallion-background>h2,
.stallion-background>h3 {
    margin-right: 10px;
}

.stallion-background button {
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(0, -50%)
}

.stallion-background .previous {
    left: 5px;
}

.stallion-background .next {
    right: 5px;
}

.childs {
    margin-top: 100px;
}

.childs h2 {
    text-align: center;
    font-family: var(--sorts);
    margin-bottom: 25px;
}

.child {

    margin-top: 50px;
}

.child img {
    width: 90%;
    aspect-ratio: 3 / 2;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 5px 5px;
    background-size: cover;
    margin: auto;
}

.child .infos {
    text-align: center;
}

.child .infos .name {
    font-family: var(--alta);
    font-weight: 400;
}

.child .infos a {
    font-family: var(--mont);
    font-weight: 300;
    color: black;
    text-decoration: underline;
}

.contacts {
    width: 70%;
    margin: auto;
}

.contacts ul {
    list-style-type: none;
}

.contacts svg {
    width: 32px;
    height: 32px;
    fill: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 10px;
}

.contacts a {
    display: flex;
    align-items: center;
    color: black;
    font-family: var(--mont);
}

@media only screen and (min-width:768px) {
    nav ul {
        margin-top: 15px;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        font-size: 1.25em;
    }

    nav ul .index a::before {
        content: none
    }

    nav ul .index a {
        display: block;
        background-image: url("img/logo.png");
        background-size: cover;
        height: 45px;
        width: 250px;
        align-self: start;
    }

    body {
        min-height: 100vh;
        position: relative;
    }

    footer {
        font-size: 1em;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    p {
        font-size: 1.25em;
    }

    .main {
        max-width: 1200px;
        margin: auto;
    }

    .landing h1 {
        font-size: 4vw;
    }

    .presentation {
        margin-top: 50px;
    }

    h2 {
        font-size: 3vw;
    }

    .presentation .body {
        margin-top: 25px;
        display: flex;
    }

    .presentation .body img {
        width: 50%;
        margin-right: 25px;
    }

    .prestations {
        margin-top: 150px;
    }

    h3 {
        font-size: 2em;
    }

    .prestations .content {
        flex-direction: row;
        align-items: center;
        height: 500px;
        font-size: 1.15em;
    }

    .prestations .content .card {
        margin: 25px 15px;
    }

    .prestations .content .know-more {
        display: none;
    }

    .prestations .content>img {
        width: 50%;
        margin-right: 15px;
        max-height: 450px;
    }

    .pension,
    .child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 50px;
        height: 500px;
        align-items: center;
        column-gap: 25px;
    }

    .pension .img {
        aspect-ratio: 16/9;
    }

    .pension:nth-child(odd) .img,
    .child:nth-child(odd) img {
        grid-column: 2;
        grid-row: 1;
    }


    .pension:nth-child(odd) .text,
    .child:nth-child(odd) .text {
        grid-column: 1;
        grid-row: 1;
    }

    .pension h2 {
        font-size: 2em;
    }

    template {
        display: none !important;
    }

    .main.contact {
        display: flex;
    }

    .contacts {
        margin-left: 15px;
    }

    .child .infos a {
        font-size: 1.5em;
    }
}